$accent: #212353;
$accentHov: #9c69e2;

$primary: #9c69e2;
$primaryHov: #B17FF4;

$secondary: #eeaa12;
$secondaryHov: #ffbe2d;

$third: #f063b8;

$sliderBg: #ffc84d;
$sliderAccent: #fff3d7;

$text: #4b5d68;
